flow.json
[
    {
        "id": "69df7f3e.cca47",
        "type": "tab",
        "label": "Generic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79bb377b.ed35e8",
        "type": "tab",
        "label": "Broadcast",
        "disabled": false,
        "info": ""
    },
    {
        "id": "80431067.debc6",
        "type": "chatbot-slack-node",
        "botname": "Guidone_bot",
        "usernames": "",
        "store": "2f7f54d8.3f7f5c",
        "log": "",
        "debug": false
    },
    {
        "id": "2f7f54d8.3f7f5c",
        "type": "chatbot-context-store",
        "name": "memory",
        "contextStorage": "memory",
        "contextParams": ""
    },
    {
        "id": "2384468e.a9cfaa",
        "type": "chatbot-slack-node",
        "botname": "Guidone_bot",
        "usernames": "",
        "store": "3fd53775.38e008",
        "log": "",
        "debug": false
    },
    {
        "id": "3fd53775.38e008",
        "type": "chatbot-context-store",
        "name": "memory",
        "contextStorage": "memory",
        "contextParams": ""
    },
    {
        "id": "96154901.613728",
        "type": "chatbot-facebook-node",
        "botname": "Dacebook DEV",
        "usernames": "",
        "store": "2f7f54d8.3f7f5c",
        "log": "",
        "debug": true,
        "multiWebHook": false,
        "profileFields": ""
    },
    {
        "id": "d379564f.449768",
        "type": "chatbot-message",
        "z": "69df7f3e.cca47",
        "name": "",
        "message": [
            {
                "message": "test"
            }
        ],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "e3a81773.36b208",
        "type": "chatbot-image",
        "z": "69df7f3e.cca47",
        "name": "test image",
        "filename": "",
        "image": "/web/cacca.png",
        "caption": "Test image",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "9e840455.860ef8",
        "type": "chatbot-document",
        "z": "69df7f3e.cca47",
        "name": "test file",
        "filename": "/web/cacca.png.zip",
        "caption": "Test file",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "43c564f7.d1f52c",
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "60701f33.41b21",
        "type": "chatbot-debug",
        "z": "69df7f3e.cca47",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "43c564f7.d1f52c",
        "type": "debug",
        "z": "69df7f3e.cca47",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 629,
        "y": 352,
        "wires": []
    },
    {
        "id": "bb92612c.cf558",
        "type": "chatbot-inline-buttons",
        "z": "69df7f3e.cca47",
        "name": "",
        "buttons": [
            {
                "type": "postback",
                "label": "Postback 1",
                "value": "postback 1",
                "answer": "",
                "alert": false,
                "style": "default"
            },
            {
                "type": "postback",
                "label": "Postaback 2",
                "value": "postback 2",
                "answer": "Yes!",
                "alert": false,
                "style": "primary"
            },
            {
                "type": "postback",
                "label": "Postback 3",
                "value": "postback 3",
                "answer": "Yes!",
                "alert": false,
                "style": "danger"
            },
            {
                "type": "dialog",
                "label": "Open dialog",
                "value": "dialog1",
                "answer": "Opened!",
                "alert": false,
                "style": ""
            }
        ],
        "message": "",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "e8eb3418.27a448",
        "type": "chatbot-location",
        "z": "69df7f3e.cca47",
        "name": "Loc",
        "latitude": "43",
        "longitude": "21",
        "place": "Bologna",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "7fa7fcb0.df8cc4",
        "type": "chatbot-audio",
        "z": "69df7f3e.cca47",
        "name": "",
        "track": false,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "62559e66.ea052",
        "type": "chatbot-generic-template",
        "z": "69df7f3e.cca47",
        "name": "Template 1",
        "title": "Title",
        "subtitle": "Si come no",
        "imageUrl": "",
        "sharable": true,
        "aspectRatio": "horizontal",
        "buttons": [
            {
                "type": "postback",
                "label": "Test 1",
                "value": "test 1",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Test 2",
                "value": "test 2",
                "answer": "",
                "alert": false,
                "style": "danger"
            }
        ],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "b3bef49e.b10078",
        "type": "chatbot-generic-template",
        "z": "69df7f3e.cca47",
        "name": "Template 2",
        "title": "Title",
        "subtitle": "Si come no 2",
        "imageUrl": "",
        "sharable": true,
        "aspectRatio": "horizontal",
        "buttons": [
            {
                "type": "postback",
                "label": "Test 1",
                "value": "test 1",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Test 2",
                "value": "test 2",
                "answer": "",
                "alert": false,
                "style": "danger"
            }
        ],
        "x": 390,
        "y": 620,
        "wires": [
            [
                "5b9a3ce5.770404"
            ]
        ]
    },
    {
        "id": "5b9a3ce5.770404",
        "type": "chatbot-generic-template",
        "z": "69df7f3e.cca47",
        "name": "Template 3",
        "title": "Title",
        "subtitle": "Si come no 3",
        "imageUrl": "",
        "sharable": true,
        "aspectRatio": "horizontal",
        "buttons": [
            {
                "type": "postback",
                "label": "Test 4",
                "value": "test 4",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Test 2",
                "value": "test 5",
                "answer": "",
                "alert": false,
                "style": "danger"
            }
        ],
        "x": 550,
        "y": 620,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "39e9e357.74fd4c",
        "type": "chatbot-message",
        "z": "69df7f3e.cca47",
        "name": "",
        "message": [
            ""
        ],
        "x": 570,
        "y": 1520,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "8a3363a0.c4618",
        "type": "inject",
        "z": "69df7f3e.cca47",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1520,
        "wires": [
            [
                "39e9e357.74fd4c"
            ]
        ]
    },
    {
        "id": "ef4df6c2.7d90b8",
        "type": "chatbot-conversation",
        "z": "69df7f3e.cca47",
        "name": "",
        "chatId": "D870ESPT4",
        "transport": "slack",
        "store": "",
        "x": 530,
        "y": 1560,
        "wires": [
            [
                "31ab809b.3573f"
            ]
        ]
    },
    {
        "id": "31ab809b.3573f",
        "type": "chatbot-message",
        "z": "69df7f3e.cca47",
        "name": "",
        "message": [
            {
                "message": "I am a conversation"
            }
        ],
        "x": 670,
        "y": 1560,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "7428504d.7eb4d",
        "type": "inject",
        "z": "69df7f3e.cca47",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 1560,
        "wires": [
            [
                "ef4df6c2.7d90b8"
            ]
        ]
    },
    {
        "id": "7d68f779.426f48",
        "type": "chatbot-dialog",
        "z": "69df7f3e.cca47",
        "submitLabel": "Manna",
        "title": "I am a dialog",
        "elements": [
            {
                "type": "text",
                "label": "Label 1",
                "name": "name1",
                "value": "",
                "placeholder": "Enter value 1",
                "hint": "Dai!",
                "optional": false
            },
            {
                "type": "textarea",
                "label": "Text area 1",
                "name": "text2",
                "value": "",
                "placeholder": "Enter a long text",
                "hint": "Long text",
                "optional": false
            },
            {
                "type": "select",
                "label": "Select one",
                "name": "select1",
                "options": [
                    {
                        "value": "one",
                        "label": "One"
                    },
                    {
                        "value": "two",
                        "label": "Two"
                    },
                    {
                        "value": "three",
                        "label": "Three"
                    }
                ]
            }
        ],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "b0b3208.91a6fe",
        "type": "chatbot-rules",
        "z": "69df7f3e.cca47",
        "name": "",
        "rules": [
            {
                "type": "messageType",
                "messageType": "dialog"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 2,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "7d68f779.426f48"
            ],
            [
                "bb92612c.cf558"
            ]
        ]
    },
    {
        "id": "92e06f2.f207a9",
        "type": "chatbot-facebook-receive",
        "z": "69df7f3e.cca47",
        "bot": "96154901.613728",
        "botProduction": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "e451775d1feac4cd"
            ]
        ]
    },
    {
        "id": "a4fb2443.8200e8",
        "type": "chatbot-facebook-send",
        "z": "69df7f3e.cca47",
        "bot": "96154901.613728",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "outputs": 0,
        "x": 919,
        "y": 204,
        "wires": []
    },
    {
        "id": "2a4bdd4a.1d3d82",
        "type": "chatbot-qrcode",
        "z": "69df7f3e.cca47",
        "message": "Allora barabba????",
        "x": 387,
        "y": 791,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "a05082ed.eaa9d",
        "type": "function",
        "z": "69df7f3e.cca47",
        "name": "From docs",
        "func": "msg.payload = {\n  sharable: true,\n  aspectRatio: 'horizontal',\n  elements: [\n    {\n      title: 'my title',\n      subtitle: 'I am a sub title',\n      imageUrl: 'https://placeimg.com/640/480/any',\n      buttons: [\n        {\n          type: 'url',\n          url: 'http://javascript-jedi.com',\n          label: 'Javascript Jedi'\n        }\n      ]\n    },\n    {\n      title: 'another title',\n      subtitle: 'Second sub title',\n      imageUrl: 'https://placeimg.com/640/480/any',\n      buttons: [\n        {\n          type: 'url',\n          url: 'http://javascript-jedi.com',\n          label: 'Javascript Jedi'\n        }\n      ]\n    }\n  ]      \n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "fdd87df6.c2c41"
            ]
        ]
    },
    {
        "id": "fdd87df6.c2c41",
        "type": "chatbot-generic-template",
        "z": "69df7f3e.cca47",
        "name": "",
        "title": "",
        "subtitle": "",
        "imageUrl": "",
        "sharable": true,
        "aspectRatio": "horizontal",
        "buttons": [],
        "x": 610,
        "y": 860,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "c8311c31.26e89",
        "type": "inject",
        "z": "79bb377b.ed35e8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "a38f308b.5f26a"
            ]
        ]
    },
    {
        "id": "95057b13.63bcf8",
        "type": "chatbot-message",
        "z": "79bb377b.ed35e8",
        "name": "A message",
        "message": [
            {
                "message": "Ciao {{first_name}}, Message ... bdroacasted"
            }
        ],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "9a4e1ca7.959bf"
            ]
        ]
    },
    {
        "id": "9a4e1ca7.959bf",
        "type": "chatbot-broadcast",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "command": "store",
        "broadcastId": "",
        "messageId": "",
        "notificationType": "REGULAR",
        "messagingType": "",
        "x": 620,
        "y": 140,
        "wires": [
            [
                "a011bed6.0c905"
            ]
        ]
    },
    {
        "id": "a38f308b.5f26a",
        "type": "chatbot-conversation",
        "z": "79bb377b.ed35e8",
        "name": "",
        "chatId": "",
        "transport": "facebook",
        "store": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "95057b13.63bcf8"
            ]
        ]
    },
    {
        "id": "a011bed6.0c905",
        "type": "chatbot-facebook-send",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "track": false,
        "passThrough": true,
        "outputs": 1,
        "x": 830,
        "y": 140,
        "wires": [
            [
                "a2add2c4.5e81"
            ]
        ]
    },
    {
        "id": "1e87f42.0d3430c",
        "type": "chatbot-broadcast",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "command": "metrics",
        "broadcastId": "270668720259903",
        "messageId": "270668720259903",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "34ecb7a1.06d7c8"
            ]
        ]
    },
    {
        "id": "9f1af922.223d18",
        "type": "inject",
        "z": "79bb377b.ed35e8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "1e87f42.0d3430c"
            ]
        ]
    },
    {
        "id": "34ecb7a1.06d7c8",
        "type": "debug",
        "z": "79bb377b.ed35e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "a1fca28b.5905d",
        "type": "chatbot-generic-template",
        "z": "79bb377b.ed35e8",
        "name": "Template 1",
        "title": "Title",
        "subtitle": "This is a subtitle",
        "imageUrl": "https://placeimg.com/640/480/any",
        "sharable": true,
        "aspectRatio": "horizontal",
        "buttons": [
            {
                "type": "postback",
                "label": "Test 1",
                "value": "test 1",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Test 2",
                "value": "test 2",
                "answer": "",
                "alert": false,
                "style": "danger"
            }
        ],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "40002231.88da1c"
            ]
        ]
    },
    {
        "id": "af7b4e1b.eea11",
        "type": "chatbot-conversation",
        "z": "79bb377b.ed35e8",
        "name": "",
        "chatId": "",
        "transport": "facebook",
        "store": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "a1fca28b.5905d"
            ]
        ]
    },
    {
        "id": "7937a536.1c54fc",
        "type": "inject",
        "z": "79bb377b.ed35e8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "af7b4e1b.eea11"
            ]
        ]
    },
    {
        "id": "d65b1811.b7eeb8",
        "type": "chatbot-list-template",
        "z": "79bb377b.ed35e8",
        "name": "List Template 1",
        "title": "I am a template",
        "subtitle": "Subtle subtitle",
        "imageUrl": "https://placeimg.com/640/480/any",
        "sharable": true,
        "topElementStyle": "large",
        "buttons": [
            {
                "type": "postback",
                "label": "Yesy",
                "value": "/yes",
                "alert": false
            }
        ],
        "x": 500,
        "y": 540,
        "wires": [
            [
                "751a9d86.421654"
            ]
        ]
    },
    {
        "id": "751a9d86.421654",
        "type": "chatbot-list-template",
        "z": "79bb377b.ed35e8",
        "name": "List Template 2",
        "title": "Title again",
        "subtitle": "Subtle subtitle 2",
        "imageUrl": "https://placeimg.com/641/480/any",
        "sharable": true,
        "topElementStyle": "large",
        "buttons": [
            {
                "type": "url",
                "label": "Open",
                "url": "http://javascript-jedi.com",
                "webViewHeightRatio": "tall",
                "extensions": false,
                "alert": false
            }
        ],
        "x": 740,
        "y": 540,
        "wires": [
            [
                "a24f31c5.81354"
            ]
        ]
    },
    {
        "id": "9415b1da.1c31e",
        "type": "inject",
        "z": "79bb377b.ed35e8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "30afe28d.1be0de"
            ]
        ]
    },
    {
        "id": "30afe28d.1be0de",
        "type": "chatbot-conversation",
        "z": "79bb377b.ed35e8",
        "name": "",
        "chatId": "",
        "transport": "facebook",
        "store": "",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "d65b1811.b7eeb8"
            ]
        ]
    },
    {
        "id": "a2add2c4.5e81",
        "type": "debug",
        "z": "79bb377b.ed35e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "d8271277.0fa6d",
        "type": "inject",
        "z": "79bb377b.ed35e8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "261aba7a.2fa8e6"
            ]
        ]
    },
    {
        "id": "261aba7a.2fa8e6",
        "type": "chatbot-conversation",
        "z": "79bb377b.ed35e8",
        "name": "",
        "chatId": "",
        "transport": "facebook",
        "store": "",
        "x": 290,
        "y": 700,
        "wires": [
            [
                "a38d549e.0f8928"
            ]
        ]
    },
    {
        "id": "33ce9eff.eb4312",
        "type": "chatbot-broadcast",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "command": "store",
        "broadcastId": "",
        "messageId": "",
        "notificationType": "REGULAR",
        "messagingType": "",
        "x": 700,
        "y": 700,
        "wires": [
            [
                "7b0738e9.e3af48"
            ]
        ]
    },
    {
        "id": "a38d549e.0f8928",
        "type": "chatbot-message",
        "z": "79bb377b.ed35e8",
        "name": "",
        "message": [
            {
                "message": "Ciao {{first_name}}, Message ... bdroacasted"
            }
        ],
        "x": 470,
        "y": 700,
        "wires": [
            [
                "33ce9eff.eb4312"
            ]
        ]
    },
    {
        "id": "7b0738e9.e3af48",
        "type": "chatbot-broadcast",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "command": "schedule",
        "broadcastId": "",
        "messageId": "",
        "notificationType": "REGULAR",
        "messagingType": "",
        "sendAt": "2018-11-25T14:15:00.000Z",
        "x": 990,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "8b5dd210.af449",
        "type": "chatbot-broadcast",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "command": "list",
        "broadcastId": "",
        "messageId": "",
        "notificationType": "REGULAR",
        "messagingType": "",
        "sendAt": "",
        "x": 330,
        "y": 820,
        "wires": [
            [
                "fcaa8b12.702848"
            ]
        ]
    },
    {
        "id": "bcdea4b1.face48",
        "type": "inject",
        "z": "79bb377b.ed35e8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "8b5dd210.af449"
            ]
        ]
    },
    {
        "id": "fcaa8b12.702848",
        "type": "debug",
        "z": "79bb377b.ed35e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 820,
        "wires": []
    },
    {
        "id": "f6d66510.733198",
        "type": "chatbot-broadcast",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "command": "status",
        "broadcastId": "343512269742772",
        "messageId": "",
        "notificationType": "REGULAR",
        "messagingType": "",
        "sendAt": "",
        "x": 340,
        "y": 960,
        "wires": [
            [
                "2c9eebd6.cb0a04"
            ]
        ]
    },
    {
        "id": "dd2781d7.fc96b",
        "type": "inject",
        "z": "79bb377b.ed35e8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "f6d66510.733198"
            ]
        ]
    },
    {
        "id": "2c9eebd6.cb0a04",
        "type": "debug",
        "z": "79bb377b.ed35e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "b900dfc0.f9da7",
        "type": "comment",
        "z": "79bb377b.ed35e8",
        "name": "broadcastId",
        "info": "",
        "x": 1170,
        "y": 40,
        "wires": []
    },
    {
        "id": "40002231.88da1c",
        "type": "chatbot-broadcast",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "command": "store",
        "broadcastId": "",
        "messageId": "",
        "notificationType": "REGULAR",
        "messagingType": "",
        "x": 720,
        "y": 280,
        "wires": [
            [
                "163019fa.8d7006"
            ]
        ]
    },
    {
        "id": "163019fa.8d7006",
        "type": "chatbot-facebook-send",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "track": false,
        "passThrough": true,
        "outputs": 1,
        "x": 990,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a24f31c5.81354",
        "type": "chatbot-broadcast",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "command": "store",
        "broadcastId": "",
        "messageId": "",
        "notificationType": "REGULAR",
        "messagingType": "",
        "x": 1000,
        "y": 540,
        "wires": [
            [
                "c76f5630.576d38"
            ]
        ]
    },
    {
        "id": "c76f5630.576d38",
        "type": "chatbot-facebook-send",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "track": false,
        "passThrough": true,
        "outputs": 1,
        "x": 1250,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1805d156.3af14f",
        "type": "comment",
        "z": "79bb377b.ed35e8",
        "name": "Message metrics",
        "info": "",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "b225ba73.1a5e08",
        "type": "comment",
        "z": "79bb377b.ed35e8",
        "name": "Broadcast generic template",
        "info": "",
        "x": 160,
        "y": 240,
        "wires": []
    },
    {
        "id": "48db9f10.516fd",
        "type": "comment",
        "z": "79bb377b.ed35e8",
        "name": "Broadcast text message",
        "info": "",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "83c5574c.c0d7a8",
        "type": "comment",
        "z": "79bb377b.ed35e8",
        "name": "Broadcast list template",
        "info": "",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "92ac54b.c4711a8",
        "type": "comment",
        "z": "79bb377b.ed35e8",
        "name": "Broadcast schedule",
        "info": "",
        "x": 130,
        "y": 660,
        "wires": []
    },
    {
        "id": "c1e2b369.4a5d4",
        "type": "comment",
        "z": "79bb377b.ed35e8",
        "name": "Broadcast schedule list",
        "info": "",
        "x": 140,
        "y": 780,
        "wires": []
    },
    {
        "id": "fce78d19.303c",
        "type": "comment",
        "z": "79bb377b.ed35e8",
        "name": "Broadcast status",
        "info": "",
        "x": 120,
        "y": 920,
        "wires": []
    },
    {
        "id": "3ad2086e.5a0258",
        "type": "inject",
        "z": "79bb377b.ed35e8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "29be2c1f.ceea94"
            ]
        ]
    },
    {
        "id": "29be2c1f.ceea94",
        "type": "chatbot-conversation",
        "z": "79bb377b.ed35e8",
        "name": "",
        "chatId": "",
        "transport": "facebook",
        "store": "",
        "x": 310,
        "y": 1120,
        "wires": [
            [
                "f81f14ff.0d2058"
            ]
        ]
    },
    {
        "id": "56d322d5.f9f19c",
        "type": "chatbot-broadcast",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "command": "store",
        "broadcastId": "",
        "messageId": "",
        "notificationType": "REGULAR",
        "messagingType": "",
        "x": 780,
        "y": 1120,
        "wires": [
            [
                "c9539b8e.a97bb8"
            ]
        ]
    },
    {
        "id": "c9539b8e.a97bb8",
        "type": "chatbot-facebook-send",
        "z": "79bb377b.ed35e8",
        "bot": "96154901.613728",
        "botProduction": "",
        "track": false,
        "passThrough": true,
        "outputs": 1,
        "x": 1030,
        "y": 1120,
        "wires": [
            [
                "4539a5a5.69eadc"
            ]
        ]
    },
    {
        "id": "4539a5a5.69eadc",
        "type": "debug",
        "z": "79bb377b.ed35e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1250,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f81f14ff.0d2058",
        "type": "chatbot-inline-buttons",
        "z": "79bb377b.ed35e8",
        "name": "",
        "buttons": [
            {
                "type": "postback",
                "label": "Button 1",
                "value": "button 1",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "url",
                "label": "Open Url",
                "url": "http://www.javascript-jedi.com",
                "webViewHeightRatio": "tall",
                "extensions": false,
                "answer": "",
                "alert": false
            }
        ],
        "message": "Message with buttons",
        "x": 540,
        "y": 1120,
        "wires": [
            [
                "56d322d5.f9f19c"
            ]
        ]
    },
    {
        "id": "1cfca8db.89f7b7",
        "type": "chatbot-quick-replies",
        "z": "69df7f3e.cca47",
        "name": "",
        "message": "Test",
        "buttons": [
            {
                "type": "quick-reply",
                "label": "222",
                "value": "222",
                "url": ""
            },
            {
                "type": "phone",
                "label": "your number"
            },
            {
                "type": "email",
                "label": "Email"
            }
        ],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "9d1116936fed52e0",
        "type": "chatbot-messenger-template",
        "z": "69df7f3e.cca47",
        "name": "Generic",
        "templateType": "generic",
        "text": "",
        "json": "",
        "title": "Title generic",
        "subtitle": "subtitle generic",
        "imageUrl": "",
        "mediaUrl": "",
        "attachmentId": "",
        "productId": "",
        "buttons": [
            {
                "type": "postback",
                "label": "One",
                "value": "one",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Two",
                "value": "two",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "x": 380,
        "y": 900,
        "wires": [
            [
                "57dcd0922bf2544b"
            ]
        ]
    },
    {
        "id": "901df54fa41c9d54",
        "type": "chatbot-params",
        "z": "69df7f3e.cca47",
        "name": "",
        "params": [
            {
                "platform": "facebook",
                "name": "aspectRatio",
                "value": "square"
            }
        ],
        "outputs": 1,
        "x": 720,
        "y": 900,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "57dcd0922bf2544b",
        "type": "chatbot-messenger-template",
        "z": "69df7f3e.cca47",
        "name": "Generic 2",
        "templateType": "generic",
        "text": "A button",
        "json": "",
        "title": "Title generic 2",
        "subtitle": "subtitle generic 2",
        "imageUrl": "",
        "mediaUrl": "",
        "attachmentId": "",
        "productId": "",
        "buttons": [
            {
                "type": "url",
                "label": "Open",
                "url": "http://www.google.it",
                "webViewHeightRatio": "tall",
                "extensions": false,
                "alert": false
            }
        ],
        "x": 540,
        "y": 900,
        "wires": [
            [
                "901df54fa41c9d54"
            ]
        ]
    },
    {
        "id": "ba9cc31487fe0a3c",
        "type": "chatbot-messenger-template",
        "z": "69df7f3e.cca47",
        "name": "Receipt demo",
        "templateType": "receipt",
        "text": "",
        "json": "{\n    \"recipient_name\": \"Stephane Crozatier\",\n    \"order_number\": \"12345678902\",\n    \"currency\": \"USD\",\n    \"payment_method\": \"Visa 2345\",\n    \"order_url\": \"http://petersapparel.parseapp.com/order?order_id=123456\",\n    \"timestamp\": \"1428444852\",\n    \"address\": {\n        \"street_1\": \"1 Hacker Way\",\n        \"street_2\": \"\",\n        \"city\": \"Menlo Park\",\n        \"postal_code\": \"94025\",\n        \"state\": \"CA\",\n        \"country\": \"US\"\n    },\n    \"summary\": {\n        \"subtotal\": 75.00,\n        \"shipping_cost\": 4.95,\n        \"total_tax\": 6.19,\n        \"total_cost\": 56.14\n    },\n    \"adjustments\": [\n        {\n            \"name\": \"New Customer Discount\",\n            \"amount\": 20\n        },\n        {\n            \"name\": \"$10 Off Coupon\",\n            \"amount\": 10\n        }\n    ],\n    \"elements\": [\n        {\n            \"title\": \"Classic White T-Shirt\",\n            \"subtitle\": \"100% Soft and Luxurious Cotton\",\n            \"quantity\": 2,\n            \"price\": 50,\n            \"currency\": \"USD\",\n            \"image_url\": \"http://petersapparel.parseapp.com/img/whiteshirt.png\"\n        },\n        {\n            \"title\": \"Classic Gray T-Shirt\",\n            \"subtitle\": \"100% Soft and Luxurious Cotton\",\n            \"quantity\": 1,\n            \"price\": 25,\n            \"currency\": \"USD\",\n            \"image_url\": \"http://petersapparel.parseapp.com/img/grayshirt.png\"\n        }\n    ]\n}",
        "title": "Title generic 2",
        "subtitle": "subtitle generic 2",
        "imageUrl": "",
        "buttons": [
            {
                "type": "url",
                "label": "Open",
                "url": "http://www.google.it",
                "webViewHeightRatio": "tall",
                "extensions": false,
                "alert": false
            }
        ],
        "x": 400,
        "y": 1020,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "e451775d1feac4cd",
        "type": "chatbot-messenger-template",
        "z": "69df7f3e.cca47",
        "name": "Customer feedback",
        "templateType": "customer_feedback",
        "text": "",
        "json": "{\n    \"title\": \"Rate your experience with Original Coast Clothing.\", \n    \"subtitle\": \"Let Original Coast Clothing know how they are doing by answering two questions\",\n    \"button_title\": \"Rate Experience\",  \n    \"feedback_screens\": [\n        {\n            \"questions\": [\n                {\n                    \"id\": \"hauydmns8\", \n                    \"type\": \"csat\",\n                    \"title\": \"How would you rate your experience with Original Coast Clothing?\", \n                    \"score_label\": \"neg_pos\", \n                    \"score_option\": \"five_stars\",\n                    \"follow_up\":  \n                    {\n                        \"type\": \"free_form\",\n                        \"placeholder\": \"Give additional feedback\"\n                    }\n                }\n            ]\n        }\n    ],\n    \"business_privacy\": {\n        \"url\": \"https://www.example.com\"\n    },\n    \"expires_in_days\": 3\n}\n",
        "title": "",
        "subtitle": "",
        "imageUrl": "",
        "buttons": [],
        "x": 410,
        "y": 1060,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "ed251a99a089e051",
        "type": "chatbot-messenger-template",
        "z": "69df7f3e.cca47",
        "name": "Media image",
        "templateType": "media",
        "text": "",
        "json": "",
        "title": "",
        "subtitle": "",
        "imageUrl": "",
        "mediaUrl": "https://www.facebook.com/watch/?v=284974132939774",
        "mediaType": "video",
        "attachmentId": "",
        "buttons": [
            {
                "type": "postback",
                "label": "Ok!",
                "value": "ok",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "4afee356f9f8b26a",
        "type": "chatbot-messenger-template",
        "z": "69df7f3e.cca47",
        "name": "Product",
        "templateType": "product",
        "text": "",
        "json": "",
        "title": "",
        "subtitle": "",
        "imageUrl": "",
        "mediaUrl": "",
        "mediaType": "video",
        "attachmentId": "",
        "productId": "123",
        "buttons": [],
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "6b74aa15cf25f1f4"
            ]
        ]
    },
    {
        "id": "6b74aa15cf25f1f4",
        "type": "chatbot-messenger-template",
        "z": "69df7f3e.cca47",
        "name": "Product",
        "templateType": "product",
        "text": "",
        "json": "",
        "title": "",
        "subtitle": "",
        "imageUrl": "",
        "mediaUrl": "",
        "mediaType": "video",
        "attachmentId": "",
        "productId": "456",
        "buttons": [],
        "x": 520,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "70ae73def31d403e",
        "type": "chatbot-messenger-template",
        "z": "69df7f3e.cca47",
        "name": "Button 1",
        "templateType": "button",
        "text": "A button One",
        "json": "",
        "title": "Title generic 2",
        "subtitle": "subtitle generic 2",
        "imageUrl": "",
        "mediaUrl": "",
        "attachmentId": "",
        "productId": "",
        "buttons": [
            {
                "type": "url",
                "label": "Open",
                "url": "http://www.google.it",
                "webViewHeightRatio": "tall",
                "extensions": false,
                "alert": false
            }
        ],
        "x": 380,
        "y": 960,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "d9b89d970b3800cf",
        "type": "chatbot-messenger-template",
        "z": "69df7f3e.cca47",
        "name": "Receipt demo",
        "templateType": "receipt",
        "text": "",
        "json": "",
        "title": "Title generic 2",
        "subtitle": "subtitle generic 2",
        "imageUrl": "",
        "mediaUrl": "",
        "attachmentId": "",
        "productId": "",
        "buttons": [
            {
                "type": "url",
                "label": "Open",
                "url": "http://www.google.it",
                "webViewHeightRatio": "tall",
                "extensions": false,
                "alert": false
            }
        ],
        "x": 560,
        "y": 1200,
        "wires": [
            [
                "a4fb2443.8200e8"
            ]
        ]
    },
    {
        "id": "dfa45d51fead522c",
        "type": "function",
        "z": "69df7f3e.cca47",
        "name": "",
        "func": "msg.json = {\n    \"recipient_name\": \"Stephane Crozatier\",\n    \"order_number\": \"12345678902\",\n    \"currency\": \"USD\",\n    \"payment_method\": \"Visa 2345\",\n    \"order_url\": \"http://petersapparel.parseapp.com/order?order_id=123456\",\n    \"timestamp\": \"1428444852\",\n    \"address\": {\n        \"street_1\": \"1 Hacker Way\",\n        \"street_2\": \"\",\n        \"city\": \"Menlo Park\",\n        \"postal_code\": \"94025\",\n        \"state\": \"CA\",\n        \"country\": \"US\"\n    },\n    \"summary\": {\n        \"subtotal\": 75.00,\n        \"shipping_cost\": 4.95,\n        \"total_tax\": 6.19,\n        \"total_cost\": 56.14\n    },\n    \"adjustments\": [\n        {\n            \"name\": \"New Customer Discount\",\n            \"amount\": 20\n        },\n        {\n            \"name\": \"$10 Off Coupon\",\n            \"amount\": 10\n        }\n    ],\n    \"elements\": [\n        {\n            \"title\": \"Classic White T-Shirt\",\n            \"subtitle\": \"100% Soft and Luxurious Cotton\",\n            \"quantity\": 2,\n            \"price\": 50,\n            \"currency\": \"USD\",\n            \"image_url\": \"http://petersapparel.parseapp.com/img/whiteshirt.png\"\n        },\n        {\n            \"title\": \"Classic Gray T-Shirt\",\n            \"subtitle\": \"100% Soft and Luxurious Cotton\",\n            \"quantity\": 1,\n            \"price\": 25,\n            \"currency\": \"USD\",\n            \"image_url\": \"http://petersapparel.parseapp.com/img/grayshirt.png\"\n        }\n    ]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1200,
        "wires": [
            [
                "d9b89d970b3800cf"
            ]
        ]
    }
]